* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}
img{
    max-width: 100%;

}


/* .background{
        background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
position: absolute;
z-index: 1;
 } */

.clone-button {
    background-color: #FD6E0A;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    color: white;
    cursor: pointer;
}



.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
   
}
.hero-container-root{
    background-color: #FFF8F3;
}
nav {
    display: flex;
    justify-content: space-between;
/* background-color: #FD6E0A;. */
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}

ul a {
    text-decoration: none;
    color: rgb(92, 88, 88);
}

.logo-n {
    color: #FD6E0A;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */



}

.hero-left-p1 {
    font-size: 30px;
    font-weight: 600;
}

.hero-left h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.hero-btn {
    display: flex;
    gap: 18px;

    margin:1rem 0;
}
.contact-btn{
    display: flex;
    color: #FD6E0A;
    background-color: transparent;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.clone-button img{
    height: 20px;
  
}
.hero-right{
    position: relative;
   
}
.profile-background{
    position: absolute;
  margin-top: 100px;
 
}
.profile{
    position: relative;
    
}